.container {
  padding: 24px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
  max-width: 800px;
  margin: 0 auto;
}

.cartContainer {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
  flex: 1;
  min-width: 300px;
}

.title {
  font-size: 20px;
  margin-bottom: 0px;
  border-bottom: 1px solid #eee;
  padding-bottom: 8px;
}

.empty {
  color: #777;
  font-style: italic;
}

.itemsList {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}

.image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 6px;
}

.details {
  flex-grow: 1;
}

.name {
  font-weight: bold;
}

.price {
  color: #007bff;
  margin-top: 18px;
}

.removeButton {
  background: none;
  border: none;
  color: #dc3545;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s;
  margin-right: 200px;
}

.removeButton:hover {
  color: crimson/* #c82333;*/
}

.total {
  margin-top: 20px;
  text-align: right;
  font-size: 16px;
}

.button {
  background-color: #28a745; 
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 8px;
  margin-right: 8px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #218838;
}

.quantityInput {
  flex: 1;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 12px;
  outline: none;
  margin-right: 50px;
  margin-left: 10px;
}

.quantityInput:focus {
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.4);
}
