.container {
  padding: 24px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
  max-width: 800px;
  margin: 0 auto;
}

.title {
  font-size: 22px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.empty {
  font-style: italic;
  color: #888;
}

.orderCard {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 20px;
  background-color: #fafafa;
}

.orderHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.orderId {
  font-weight: bold;
}

.date {
  color: #666;
}

.itemsList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  display: flex;
  gap: 12px;
  margin-bottom: 10px;
  align-items: center;
}

.image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 6px;
}

.name {
  font-weight: 500;
}

.qtyPrice {
  color: #444;
  font-size: 14px;
}

.total {
  margin-top: 10px;
  /* text-align: right; */
  font-weight: bold;
  color: #333;
}
