/* src/components/Navbar.module.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  padding: 15px 30px;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: darkblue;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

.link:hover {
  color: dodgerblue;
  text-decoration: underline;
}
